/*Página Principal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Adicionar Fontes Externas*/
@font-face {
    font-family: 'Sigmar';
    src: url(Fonte/Sigmar.txt);
}

@font-face {
    font-family: 'Anton';
    src: url(Fonte/Anton-Regular.ttf);
}

body {
    font-family: 'Arial';
    background-color: rgb(255, 251, 235);
    color: #070163;
}

button {
    height: 25px;
    width: 50px;
    font-family: 'Anton';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070163;
    padding: 0 20px;
    height: 100px;
}

.home {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Anton';
    margin-left: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Anton';
    padding: 10px;
    transition: 0.3s ease;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    background-color: #0f077e;
}

.nav-links a:hover {
    background-color: #2f2986;
}

.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}

.titulo {
    text-align: center;
    font-family: 'Anton';
    font-size: 50px;
    padding: 20px;
}

#imagem {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.instagram, .alunos, .alunoonline, .calendario, .caixa {
    height: 90px;
    width: 180px;
    font-family: 'Anton';
    font-size: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.instagram, .alunoonline, .calendario, .caixa {
    background-color: #070163;
    color: white;
}

.alunos {
    background-color: #070163;
    color: white
}

.instagram:hover, .alunoonline:hover {
    background-color: #2f2986;
}

.alunos:hover {
    background-color: #2f2986;
}

.calendario:hover {
    background-color: #2f2986;
}
.caixa:hover {
    background-color: #2f2986;
}

footer {
    color: rgb(255, 251, 235);
    background-color: #070163;
    text-align: center;
    padding: 10px;
    margin-top: 6.3%;
}

/*Responsividade do Site*/
@media (max-width: 890px) {
    .hamburger {
        display: block;
        height: 90%;
        font-size: 45px;
    }

    .logo{
        font-size: 40px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #070163;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 25px;
        font-size: 50px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
        height: 140px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 40px;
        font-size: 45px;
    }

    .titulo {
        font-size: 25px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .instagram, .alunos, .alunoonline, .calendario {
        width: 100%;
        max-width: 200px;
    }
}

@media (max-width: 850px) {
    .hamburger {
        display: block;
        height: 90%;
        font-size: 40px;
    }

    .logo{
        font-size: 35px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #070163;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 20px;
        font-size: 45px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
        height: 130px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 35px;
        font-size: 40px;
    }

    .titulo {
        font-size: 35px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .instagram, .alunos, .alunoonline, .calendario {
        width: 100%;
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        height: 90%;
        font-size: 35px;
    }

    .logo{
        font-size: 30px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #070163;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 20px;
        font-size: 40px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
        height: 110px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 30px;
        font-size: 35px;
    }

    .titulo {
        font-size: 30px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .instagram, .alunos, .alunoonline, .calendario {
        width: 100%;
        max-width: 200px;
    }
}
@media (max-width: 480px) {
    .hamburger {
        display: block;
    }

    .logo{
        font-size: 30px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #070163;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 20px;
        font-size: 40px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 12px 0;
        height: 80px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 25px;
        font-size: 30px;
    }

    .titulo {
        font-size: 30px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .instagram, .alunos, .alunoonline, .calendario {
        width: 100%;
        max-width: 180px;
    }
}