*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial';
    background-color: #070163;
    color: #ffffff;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
h2{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 235);
    border-radius: 20px;
    border: none;
}
.texto{
    width: 600px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #070163;
    height: 400px;
    width: 500px;
}
label{
    font-size: 30px;
}
textarea{
    height: 150px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid #070163;
    font-size: 20px;
}
button{
    height: 60px;
    width: 350px;
    border-radius: 20px;
    border: none;
    background-color: #070163;
    color: rgb(255, 248, 216);
    font-size: 27px;
}
button:hover{
    cursor: pointer;
}
footer {
    color: rgb(255, 251, 235);
    background-color: #050047;
    text-align: center;
    padding: 10px;
    margin-top: 6.3%;
}

@media (max-width: 768px){
    .texto{
        width: 540px;
        font-size: 25px;
    }
    form{
        height: 330px;
        width: 550px;
    }
    label{
        font-size: 25px;
    }
    textarea{
        height: 220px;
        width: 460px;
        font-size: 20px;
    }
    button{
        height: 50px;
        width: 460px;
        font-size: 20px;
    }
    footer {
        text-align: center;
        padding: 10px;
        margin-top: 6.3%;
    }
}
@media (max-width: 480px){
    .texto{
        width: 320px;
        font-size: 18px;
    }
    form{
        height: 200px;
        width: 300px;
    }
    label{
        font-size: 20px;
    }
    textarea{
        height: 100px;
        width: 260px;
        font-size: 18px;
    }
    button{
        height: 30px;
        width: 260px;
        font-size: 18px;
    }
    footer {
        text-align: center;
        padding: 10px;
        margin-top: 6.3%;
    }
}
@media (max-width: 360px){
    .texto{
        width: 270px;
        font-size: 15px;
    }
    form{
        height: 180px;
        width: 280px;
    }
    label{
        font-size: 18px;
    }
    textarea{
        height: 80px;
        width: 230px;
        font-size: 15px;
    }
    button{
        height: 30px;
        width: 230px;
        font-size: 15px;
    }
    footer {
        text-align: center;
        padding: 10px;
        margin-top: 6.3%;
    }
}