/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sigmar';
    src: url(Fonte/Sigmar.txt);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anton';
    src: url(Fonte/Anton-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue';
    src: url(Fonte/BebasNeue-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Neue';
    background-color: rgb(255, 251, 235);
    color: #070163;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070163;
    padding: 0 20px;
    height: 100px;
}

.home {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Anton';
    margin-left: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Anton';
    padding: 10px;
    transition: 0.3s ease;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    background-color: #0f077e;
}

.nav-links a:hover {
    background-color: #2f2986;
}

.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}

.titulo {
    text-align: center;
    font-family: 'Neue';
    font-size: 70px;
    padding: 20px 0;
}

#imagem {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
    height: 130px;
    width: 130px;
}

.perfil {
    background-color: #070163;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    border-radius: 15px;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
}

.info {
    color: rgb(253, 248, 225);
    margin-left: 20px;
}

footer {
    color: rgb(255, 251, 235);
    background-color: #070163;
    text-align: center;
    padding: 10px 0;
    margin-top: 4%;
}
a{
    color: white;
    text-decoration: none;
}
.fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070163;
    height: 320px;
    width: 320px;
    border-radius: 10px;
}
.premiacoes{
    background-color: #070163;
    justify-content: center;
    align-items: center;
    height: 470px;
    border-radius: 15px;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
.premios{
    color: rgb(255, 255, 255);
    text-align: center;
    text-align: center;
    font-family: 'Neue';
    font-size: 22px;
}

/* Responsividade */
@media (max-width: 890px) {
    .hamburger {
        display: block;
        height: 90%;
        font-size: 45px;
    }

    .logo{
        font-size: 40px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #2c0657;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 25px;
        font-size: 50px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
        height: 140px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 40px;
        font-size: 45px;
    }

    .titulo {
        font-size: 25px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .instagram, .alunos, .alunoonline {
        width: 100%;
        max-width: 200px;
    }

    .premiacoes {
        width: 95%; 
        flex-direction: column; 
        height: 857px; 
        padding: 25px;
    }

    .premios{
        font-size: 35px;
    }
}

@media (max-width: 850px) {
    .hamburger {
        display: block;
        height: 90%;
        font-size: 40px;
    }

    .logo{
        font-size: 35px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #2c0657;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 20px;
        font-size: 45px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
        height: 130px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 35px;
        font-size: 40px;
    }

    .titulo {
        font-size: 35px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .instagram, .alunos, .alunoonline {
        width: 100%;
        max-width: 200px;
    }

    .premiacoes {
        width: 95%; 
        flex-direction: column; 
        height: 757px; 
        padding: 25px;
    }

    .premios{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        height: 90%;
        font-size: 35px;
    }

    .logo{
        font-size: 30px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #2c0657;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 20px;
        font-size: 40px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
        height: 110px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 30px;
        font-size: 35px;
    }

    .titulo {
        font-size: 45px;
    }

    .logo{
        font-size: 30px;
    }

    .botoes {
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .perfil {
        width: 90%; 
        height: auto; 
        padding: 20px;
    }

    .instagram, .alunos, .alunoonline {
        width: 100%;
        max-width: 200px;
    }
 
    .premiacoes {
        width: 95%; 
        flex-direction: column; 
        height: 690px; 
        padding: 25px;
    }

    .premios{
        font-size: 25px;
    }
}
@media (max-width: 480px) {
    .hamburger {
        display: block;
    }

    .logo{
        font-size: 30px;
    }

    .nav-links {
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #2c0657;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        padding-top: 20px;
        font-size: 40px;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 12px 0;
        height: 80px;
    }

    .nav-links a {
        margin: 0;
        text-decoration: none;
        padding: 25px;
        font-size: 30px;
    }
    .titulo {
        font-size: 30px; 
    }

    .logo{
        font-size: 27px;
    }

    .perfil {
        width: 90%; 
        flex-direction: column; 
        height: auto; 
        padding: 20px;
    }

    .info {
        margin-left: 0; 
        text-align: center; 
        margin-top: 10px; 
    }

    img {
        height: 500px; 
        width: 500px;
    }

    .premiacoes {
        width: 95%; 
        flex-direction: column; 
        height: 557px; 
        padding: 25px;
    }

    .premios{
        font-size: 16px;
    }
}